**/**/.env
.DS_Store
*.log
*.pid
/.idea
**/**/node_modules/
.cache

# yarn is the recommended package manager across the project
**/**/.package-lock.json
packages/twenty-server/baileys_auth_info/*
packages/twenty-server/baileys_auth_info/
packages/twenty-server/all_resumes/*
packages/twenty-server/all_resumes/
packages/twenty-server/client_uploads/*
packages/twenty-server/client_uploads/**/*
.nx/installation
.nx/cache
packages/twenty-server/.attachments/*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vercel
.swc
packages/twenty-server/unipile-attachments/*
test-cache/
**/**/logs/**
.cursor/
.cursor/*
coverage
dist
storybook-static
*.tsbuildinfo
.eslintcache
.nyc_output
test-results/
dump.rdb
.tinyb

.notes
.claude/
/data/
/.devenv/
/.direnv/
/.pre-commit-config.yaml
/.envrc
/devenv.nix
/flake.lock
/flake.nix

.crowdin.yml
sample_jds/
sample_jds/**
packages/twenty-e2e-testing/~/.arx-linkedin-crx-profile/
packages/twenty-front/assets/
packages/twenty-front/icons/
packages/twenty-front/images/
packages/twenty-front/logos/
packages/twenty-website/public/sitemap-*.xml
packages/twenty-server/all_resumes_pdfs/
packages/twenty-server/working_naukri_candidates/
tools/chatwoot-source
