.banner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: Inter;
  font-size: var(--t-font-size-sm);
  font-style: normal;
  font-weight: var(--t-font-weight-medium);
  gap: var(--t-spacing-2);
  justify-content: flex-start;
  line-height: 150%;
  min-height: 32px;
  padding: var(--t-spacing-1) var(--t-spacing-3);
  width: 100%;
}

.primaryBlue {
  backdrop-filter: blur(5px);
  background: var(--t-color-blue);
  color: var(--t-font-color-white);
}

.primaryDanger {
  backdrop-filter: blur(5px);
  background: var(--t-color-red);
  color: var(--t-font-color-white);
}

.secondaryBlue {
  backdrop-filter: none;
  background: var(--t-background-transparent-blue);
  color: var(--t-color-blue);
}

.secondaryDanger {
  backdrop-filter: none;
  background: var(--t-background-transparent-danger);
  color: var(--t-color-red);
}

:global(.dark) .secondaryBlue,
:global(.dark) .secondaryDanger {
  color: var(--t-font-color-white);

  :global(button) {
    --btn-color: var(--t-font-color-white);
    --btn-border-color: var(--t-font-color-white);
    --icon-button-color: var(--t-font-color-white);
  }
}
