.bannerContent {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 8px;
  justify-content: space-between;
  min-width: 0;
}

.container {
  width: 100%;
}

.invertedIconButton {
  color: var(--t-font-color-white) !important;
}
