.listItem {
  align-items: start;
  column-gap: var(--t-spacing-2);
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  list-style-type: none;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}
