{
  "openapi": "3.1.1",
  "info": {
    "title": "Arxena Company API",
    "description": "Company search across Elasticsearch, Unipile LinkedIn (Sales Navigator auto, classic/premium, Recruiter), and Harvest. Hits are returned in a standard format.",
    "version": "1.0.0",
    "contact": {
      "email": "felix@arxena.com"
    }
  },
  "servers": [
    {
      "url": "https://app.arxena.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/company-api/companies/search": {
      "post": {
        "operationId": "searchCompanies",
        "summary": "Search companies",
        "description": "Search companies. Omit `dataSource` or pass `auto` to resolve Unipile first, then Harvest, then the companies index.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company search hits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/company-api/data-sources": {
      "get": {
        "operationId": "listCompanyDataSources",
        "summary": "List company search data sources",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Data source catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDataSourcesStatusResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "CompanySearchHit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          }
        },
        "example": {
          "id": "acme",
          "name": "Acme",
          "website": "acme.com",
          "linkedinUrl": "https://www.linkedin.com/company/acme",
          "industry": "Software"
        }
      },
      "CompanySearchRequest": {
        "type": "object",
        "properties": {
          "dataSource": {
            "type": "string",
            "enum": [
              "auto",
              "index",
              "harvest",
              "unipile",
              "pool",
              "recruiter"
            ],
            "description": "auto prefers Unipile Sales Navigator, then Recruiter/classic, Harvest, then index.",
            "example": "auto"
          },
          "accountId": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "keywords": {
            "type": "string"
          },
          "companyName": {
            "type": "string",
            "example": "Acme"
          },
          "website": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "limit": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          }
        },
        "example": {
          "companyName": "Acme",
          "dataSource": "auto",
          "limit": 10
        }
      },
      "CompanySearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "index",
              "harvest",
              "unipile",
              "pool",
              "recruiter"
            ]
          },
          "unipileProduct": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySearchHit"
            }
          }
        },
        "example": {
          "status": "ok",
          "dataSource": "index",
          "total": 1,
          "items": [
            {
              "id": "acme",
              "name": "Acme",
              "website": "acme.com",
              "linkedinUrl": "https://www.linkedin.com/company/acme",
              "industry": "Software"
            }
          ]
        }
      },
      "CompanyDataSourcesStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alias": {
                  "type": "string",
                  "enum": [
                    "auto",
                    "index",
                    "harvest",
                    "unipile",
                    "pool",
                    "recruiter"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "configured": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  }
}
