{
  "openapi": "3.1.1",
  "info": {
    "title": "Arxena People API",
    "description": "People search and natural-language title resolution. Public taxonomy surfaces are flat grade constants plus a nested labels-only function tree. Classify, Boolean builders, and people search require auth. Do not scrape taxonomy endpoints to rebuild a competing ontology.",
    "version": "1.0.0",
    "contact": {
      "email": "felix@arxena.com"
    }
  },
  "servers": [
    {
      "url": "https://app.arxena.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Data sources",
      "description": "Configured people data source aliases"
    },
    {
      "name": "Taxonomy",
      "description": "Public constants and auth-gated label lists"
    },
    {
      "name": "People",
      "description": "People search"
    },
    {
      "name": "Credits",
      "description": "Workspace credit balances for org chart, reveal, and API usage"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Workspace JWT from Arxena auth."
      }
    },
    "schemas": {
      "TaxonomyItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "engineering"
          },
          "label": {
            "type": "string",
            "example": "Engineering"
          },
          "name": {
            "type": "string",
            "example": "engineering"
          },
          "parent_id": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "level": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "example": 1
          }
        },
        "required": [
          "id",
          "label",
          "name"
        ],
        "example": {
          "id": "engineering",
          "label": "Engineering",
          "name": "engineering",
          "parent_id": null,
          "level": 1
        }
      },
      "PeopleSearchRequest": {
        "type": "object",
        "properties": {
          "naturalLanguage": {
            "type": "string",
            "description": "Primary path: a role utterance such as \"CHRO at Apple in Cupertino\". An LLM extracts job title, company, website, and location; title taxonomy then classifies std function / root / grade. Company may be in the phrase or passed as companyName / companyId / website. If no company is present, the API returns \"Please provide company name as well\". Overrides jobTitle and explicit std filters.",
            "example": ""
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "auto",
              "index",
              "apollo",
              "pdl",
              "contactout",
              "harvest",
              "unipile",
              "pool"
            ],
            "default": "auto",
            "description": "Which catalog to search. Omit or pass `auto` (default) to resolve the caller workspace member LinkedIn Unipile account; API keys (no member on the token) use any workspace member profile with a Sales Navigator Unipile seat. `index` is the people index. `apollo` and `contactout` are vendor search. `pool`, `harvest`, and `unipile` are LinkedIn Sales Navigator (`unipile` requires `accountId` unless resolved from the workspace).",
            "example": "auto"
          },
          "accountId": {
            "type": "string",
            "description": "Required when dataSource is unipile — Unipile LinkedIn account id."
          },
          "companyId": {
            "type": "string",
            "example": "comp_123"
          },
          "companyName": {
            "type": "string",
            "example": "Stripe"
          },
          "website": {
            "type": "string",
            "example": "stripe.com"
          },
          "stdFunction": {
            "type": "string",
            "description": "Standardized function (child label, e.g. software engineering). Must match a label from GET /people-api/taxonomy/tree.",
            "example": "software engineering"
          },
          "stdFunctionRoot": {
            "type": "string",
            "enum": [
              "engineering",
              "marketing",
              "projects",
              "operations",
              "sales",
              "human resources",
              "education",
              "finance",
              "technology",
              "research",
              "support service",
              "healthcare",
              "product",
              "design",
              "secretarial",
              "supply chain",
              "trading",
              "legal",
              "real estate",
              "aviation",
              "events",
              "corporate",
              "government",
              "banking",
              "partnerships"
            ],
            "description": "Standardized function root (department family).",
            "example": "engineering"
          },
          "stdGrade": {
            "type": "string",
            "enum": [
              "entry",
              "mid",
              "leadership"
            ],
            "description": "Standardized grade.",
            "example": "leadership"
          },
          "country": {
            "type": "string",
            "example": "United States"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Geographic locations. Merged with places extracted from naturalLanguage when that path runs.",
            "example": [
              "India"
            ]
          },
          "query": {
            "type": "string",
            "description": "Raw keyword string passed through to the data source (Elasticsearch query, Apollo q_keywords, or LinkedIn keywords). Not classified into std function/grade. Use naturalLanguage for a role utterance."
          },
          "personName": {
            "type": "string"
          },
          "jobTitle": {
            "type": "string",
            "example": "Head of Engineering"
          },
          "searchUrl": {
            "type": "string",
            "description": "Optional LinkedIn people search URL. Classic/premium: /search/results/people. Sales Navigator (including savedSearchId): /sales/search/people. Recruiter: /talent/search. Harvest only accepts Sales Navigator people URLs; Unipile/pool accept classic, Sales Nav, and Recruiter. Company, job title, and taxonomy filters are not required when this is set.",
            "example": "https://www.linkedin.com/sales/search/people?savedSearchId=1936431145"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 20,
            "example": 20,
            "description": "Desired number of profiles. Unipile people search uses a page size of up to 100 and paginates with cursor when more than one page is needed."
          }
        },
        "example": {
          "naturalLanguage": "",
          "dataSource": "auto",
          "limit": 10
        }
      },
      "PeopleSearchResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "auto",
              "index",
              "apollo",
              "pdl",
              "contactout",
              "harvest",
              "unipile",
              "pool"
            ]
          },
          "total": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "resolved": {
            "type": "object",
            "description": "Present when naturalLanguage was parsed and the title was classified before searching.",
            "properties": {
              "jobTitle": {
                "type": "string"
              },
              "normalizedTitle": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "stdFunction": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "stdFunctionRoot": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "stdGrade": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "confidence": {
                "type": "number"
              },
              "locations": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "query": {
            "type": "object",
            "properties": {
              "searchUrl": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        },
        "example": {
          "status": "ok",
          "dataSource": "index",
          "total": 2,
          "items": [
            {
              "fullName": "Alex Rivera",
              "jobTitle": "VP Engineering",
              "companyName": "Stripe",
              "linkedinUrl": "https://www.linkedin.com/in/example"
            }
          ]
        }
      },
      "TitleFromJobSearchRequest": {
        "type": "object",
        "required": [
          "jobTitle"
        ],
        "properties": {
          "jobTitle": {
            "type": "string",
            "description": "Sample job title to classify into std_function and std_grade before searching.",
            "example": "CEO"
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "auto",
              "index",
              "apollo",
              "pdl",
              "contactout",
              "harvest",
              "unipile",
              "pool"
            ],
            "default": "auto",
            "example": "auto",
            "description": "People source. Omit or pass `auto` (default) to resolve the workspace member Unipile account (API keys use a workspace Sales Navigator seat). Use pool / unipile / harvest for Sales Navigator; apollo for Apollo; index for the people index. unipile requires accountId unless resolved."
          },
          "accountId": {
            "type": "string",
            "description": "Required when dataSource is unipile — Unipile LinkedIn account id."
          },
          "companyId": {
            "type": "string"
          },
          "companyName": {
            "type": "string",
            "example": "StayVista"
          },
          "website": {
            "type": "string",
            "example": "stayvista.com"
          },
          "country": {
            "type": "string",
            "example": "India"
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 20,
            "example": 10,
            "description": "Desired number of profiles. Unipile people search uses a page size of up to 100 and paginates with cursor when more than one page is needed."
          }
        },
        "example": {
          "jobTitle": "CEO",
          "website": "stayvista.com",
          "dataSource": "pool",
          "limit": 10
        }
      },
      "PeopleSearchByTitleResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PeopleSearchResponse"
          },
          {
            "type": "object",
            "properties": {
              "resolved": {
                "type": "object",
                "properties": {
                  "jobTitle": {
                    "type": "string"
                  },
                  "normalizedTitle": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stdFunction": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stdFunctionRoot": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "stdGrade": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "confidence": {
                    "type": "number"
                  }
                }
              }
            }
          }
        ],
        "example": {
          "status": "ok",
          "dataSource": "index",
          "total": 1,
          "resolved": {
            "jobTitle": "Head of Engineering",
            "normalizedTitle": "head of engineering",
            "stdFunction": "engineering",
            "stdFunctionRoot": "engineering",
            "stdGrade": "leadership",
            "confidence": 0.92
          },
          "items": [
            {
              "fullName": "Alex Rivera",
              "jobTitle": "Head of Engineering",
              "companyName": "Stripe"
            }
          ]
        }
      },
      "DataSourcesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "alias": {
                  "type": "string",
                  "enum": [
                    "auto",
                    "index",
                    "apollo",
                    "pdl",
                    "contactout",
                    "harvest",
                    "unipile",
                    "pool"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "supportsStdFunctionFilter": {
                  "type": "boolean"
                },
                "supportsStdGradeFilter": {
                  "type": "boolean"
                },
                "configured": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "example": {
          "status": "ok",
          "sources": [
            {
              "alias": "index",
              "label": "Index",
              "description": "Search the standardized people index with std_function and std_grade filters.",
              "supportsStdFunctionFilter": true,
              "supportsStdGradeFilter": true,
              "configured": true
            }
          ]
        }
      },
      "TaxonomyConstantsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "gradeLevels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyConstantItem"
            }
          },
          "gradeCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyConstantItem"
            }
          },
          "functionRoots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyConstantItem"
            }
          }
        },
        "required": [
          "status",
          "gradeLevels",
          "gradeCategories",
          "functionRoots"
        ],
        "example": {
          "status": "ok",
          "gradeLevels": [
            {
              "id": "leadership",
              "label": "Leadership",
              "description": "Senior leaders and heads of function."
            }
          ],
          "gradeCategories": [
            {
              "id": "senior",
              "label": "Senior",
              "description": "Senior / leadership band within a function root."
            }
          ],
          "functionRoots": [
            {
              "id": "human resources",
              "label": "Human Resources",
              "description": "Department family: human resources."
            }
          ]
        }
      },
      "TaxonomyConstantItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "leadership"
          },
          "label": {
            "type": "string",
            "example": "Leadership"
          },
          "description": {
            "type": "string",
            "example": "Senior leaders and heads of function."
          }
        },
        "required": [
          "id",
          "label",
          "description"
        ]
      },
      "TaxonomyTreeFunctionNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "software engineering"
          },
          "label": {
            "type": "string",
            "example": "software engineering"
          }
        },
        "required": [
          "id",
          "label"
        ]
      },
      "TaxonomyTreeRootNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "engineering"
          },
          "label": {
            "type": "string",
            "example": "engineering"
          },
          "functions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyTreeFunctionNode"
            }
          }
        },
        "required": [
          "id",
          "label",
          "functions"
        ]
      },
      "TaxonomyTreeResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "gradeLevels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyConstantItem"
            }
          },
          "functionRoots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyTreeRootNode"
            }
          }
        },
        "required": [
          "status",
          "gradeLevels",
          "functionRoots"
        ],
        "example": {
          "status": "ok",
          "gradeLevels": [
            {
              "id": "leadership",
              "label": "Leadership",
              "description": "Senior leaders and heads of function."
            }
          ],
          "functionRoots": [
            {
              "id": "engineering",
              "label": "engineering",
              "functions": [
                {
                  "id": "software engineering",
                  "label": "software engineering"
                }
              ]
            }
          ]
        }
      },
      "PeopleSearchByTaxonomyRequest": {
        "type": "object",
        "properties": {
          "website": {
            "type": "string",
            "example": "stripe.com"
          },
          "companyId": {
            "type": "string",
            "description": "LinkedIn company id or slug",
            "example": "stripe"
          },
          "companyName": {
            "type": "string",
            "example": "Stripe"
          },
          "stdFunction": {
            "type": "string",
            "description": "Exactly one of stdFunction or stdFunctionRoot is required. Must match a label from GET /people-api/taxonomy/tree.",
            "example": "software engineering"
          },
          "stdFunctionRoot": {
            "type": "string",
            "enum": [
              "engineering",
              "marketing",
              "projects",
              "operations",
              "sales",
              "human resources",
              "education",
              "finance",
              "technology",
              "research",
              "support service",
              "healthcare",
              "product",
              "design",
              "secretarial",
              "supply chain",
              "trading",
              "legal",
              "real estate",
              "aviation",
              "events",
              "corporate",
              "government",
              "banking",
              "partnerships"
            ],
            "description": "Exactly one of stdFunction or stdFunctionRoot is required.",
            "example": "engineering"
          },
          "stdGrade": {
            "type": "string",
            "enum": [
              "entry",
              "mid",
              "leadership"
            ],
            "description": "Optional. Only valid together with stdFunction or stdFunctionRoot.",
            "example": "leadership"
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "harvest",
              "unipile",
              "pool"
            ],
            "description": "LinkedIn Sales Navigator source. `pool` is the shared Unipile Sales Nav pool; `unipile` requires accountId; `harvest` uses Harvest SN lead-search. Defaults to unipile.",
            "example": "pool"
          },
          "accountId": {
            "type": "string",
            "description": "Required when dataSource is unipile — Unipile LinkedIn account id."
          },
          "country": {
            "type": "string",
            "example": "United States"
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "United States"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 500,
            "default": 20,
            "example": 20,
            "description": "Desired number of profiles. Unipile people search uses a page size of up to 100 and paginates with cursor when more than one page is needed."
          }
        },
        "example": {
          "website": "stayvista.com",
          "stdFunctionRoot": "corporate",
          "stdGrade": "leadership",
          "dataSource": "pool",
          "limit": 20
        }
      },
      "PeopleSearchByTaxonomyResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "harvest",
              "unipile",
              "pool"
            ]
          },
          "query": {
            "type": "object",
            "properties": {
              "keywords": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "company": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "slug": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "linkedinUrl": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              },
              "stdFunction": {
                "type": "string"
              },
              "stdFunctionRoot": {
                "type": "string"
              },
              "stdGrade": {
                "type": "string"
              },
              "appliedFilters": {
                "type": "object",
                "properties": {
                  "functionIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "seniorities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "person_department_or_subdepartments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "person_seniorities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "total": {
            "type": "integer"
          },
          "totalBeforeFilter": {
            "type": "integer"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "resolved": {
                  "type": "object",
                  "properties": {
                    "stdFunction": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stdFunctionRoot": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "stdGrade": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "confidence": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "TaxonomyBooleanStringsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "query": {
            "type": "string"
          },
          "booleanQuery": {
            "type": [
              "string",
              "null"
            ]
          },
          "keywordGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "terms": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "clause": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "example": {
          "status": "ok",
          "query": "engineering leadership Stripe",
          "booleanQuery": "(\"EXAMPLE_FUNCTION\" OR \"example role\") AND (\"VP\" OR \"Head of\") AND \"ExampleCo\"",
          "keywordGroups": [
            {
              "type": "function",
              "terms": [
                "EXAMPLE_FUNCTION",
                "example role"
              ],
              "clause": "(\"EXAMPLE_FUNCTION\" OR \"example role\")"
            }
          ]
        }
      },
      "TaxonomyManualBooleanQueriesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "found": {
            "type": "boolean"
          },
          "count": {
            "type": "number"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "std_function",
                    "std_function_root"
                  ]
                },
                "label": {
                  "type": "string",
                  "example": "sales"
                },
                "stdGrade": {
                  "type": "string",
                  "enum": [
                    "entry",
                    "mid",
                    "leadership",
                    ""
                  ]
                },
                "booleanQuery": {
                  "type": "string"
                },
                "keywords": {
                  "type": "string"
                }
              },
              "required": [
                "kind",
                "label",
                "stdGrade",
                "booleanQuery",
                "keywords"
              ]
            }
          }
        },
        "example": {
          "status": "ok",
          "found": true,
          "count": 1,
          "items": [
            {
              "kind": "std_function",
              "label": "sales",
              "stdGrade": "mid",
              "booleanQuery": "(\"account executive\" OR \"sales manager\")",
              "keywords": "(sales OR AE)"
            }
          ]
        }
      },
      "ExpandJobTitlesResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "jobTitle": {
            "type": "string"
          },
          "normalizedTitle": {
            "type": [
              "string",
              "null"
            ]
          },
          "stdFunction": {
            "type": [
              "string",
              "null"
            ]
          },
          "stdFunctionRoot": {
            "type": [
              "string",
              "null"
            ]
          },
          "stdGrade": {
            "type": [
              "string",
              "null"
            ]
          },
          "confidence": {
            "type": "number"
          },
          "booleanQuery": {
            "type": [
              "string",
              "null"
            ]
          },
          "keywordGroups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "terms": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "clause": {
                  "type": "string"
                }
              },
              "additionalProperties": true
            }
          }
        },
        "example": {
          "status": "ok",
          "jobTitle": "Head of Product",
          "normalizedTitle": "head of product",
          "stdFunction": "product",
          "stdFunctionRoot": "product",
          "stdGrade": "leadership",
          "confidence": 0.91,
          "booleanQuery": "(\"EXAMPLE_FUNCTION\" OR \"example role\") AND (\"Head of\" OR \"VP\")",
          "keywordGroups": [
            {
              "type": "function",
              "terms": [
                "EXAMPLE_FUNCTION",
                "example role"
              ],
              "clause": "(\"EXAMPLE_FUNCTION\" OR \"example role\")"
            }
          ]
        }
      },
      "TaxonomyListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxonomyItem"
            }
          },
          "item": {
            "$ref": "#/components/schemas/TaxonomyItem"
          }
        },
        "example": {
          "status": "ok",
          "items": [
            {
              "id": "engineering",
              "label": "Engineering",
              "name": "engineering",
              "parent_id": null,
              "level": 1
            }
          ]
        }
      },
      "WorkspaceCreditsResponse": {
        "type": "object",
        "properties": {
          "orgChartCredits": {
            "type": "number",
            "description": "Remaining org chart credits",
            "example": 12
          },
          "revealCredits": {
            "type": "number",
            "description": "Remaining reveal credit balance (raw units)",
            "example": 100
          },
          "apiCredits": {
            "type": "number",
            "description": "Remaining People API search credits",
            "example": 250
          },
          "revealCreditsAsEmailEquivalent": {
            "type": "number",
            "description": "How many email reveals the current reveal balance covers",
            "example": 10
          },
          "revealCreditsAsPhoneEquivalent": {
            "type": "number",
            "description": "How many phone reveals the current reveal balance covers",
            "example": 5
          },
          "emailRevealCost": {
            "type": "number",
            "description": "Reveal credits charged per email reveal",
            "example": 10
          },
          "phoneRevealCost": {
            "type": "number",
            "description": "Reveal credits charged per phone reveal",
            "example": 20
          }
        },
        "required": [
          "orgChartCredits",
          "revealCredits",
          "apiCredits",
          "revealCreditsAsEmailEquivalent",
          "revealCreditsAsPhoneEquivalent",
          "emailRevealCost",
          "phoneRevealCost"
        ],
        "example": {
          "orgChartCredits": 12,
          "revealCredits": 100,
          "apiCredits": 250,
          "revealCreditsAsEmailEquivalent": 10,
          "revealCreditsAsPhoneEquivalent": 5,
          "emailRevealCost": 10,
          "phoneRevealCost": 20
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/people-api/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "OpenAPI document",
        "operationId": "getOpenApiDocument",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/people-api/data-sources": {
      "get": {
        "tags": [
          "Data sources"
        ],
        "summary": "List people data source categories",
        "description": "Returns configured data source aliases (apollo, pdl, contactout, harvest, index). Vendor names are not exposed.",
        "operationId": "listPeopleDataSources",
        "responses": {
          "200": {
            "description": "Data source categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSourcesResponse"
                },
                "examples": {
                  "configured": {
                    "summary": "Configured sources",
                    "value": {
                      "status": "ok",
                      "sources": [
                        {
                          "alias": "index",
                          "label": "Index",
                          "description": "Search the standardized people index with std_function and std_grade filters.",
                          "supportsStdFunctionFilter": true,
                          "supportsStdGradeFilter": true,
                          "configured": true
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people-api/credits": {
      "get": {
        "tags": [
          "Credits"
        ],
        "summary": "Get workspace credits",
        "description": "Returns remaining org chart, reveal, and API credit balances for the authenticated workspace, plus reveal cost equivalents.",
        "operationId": "getWorkspaceCredits",
        "responses": {
          "200": {
            "description": "Workspace credit balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceCreditsResponse"
                },
                "examples": {
                  "balances": {
                    "summary": "Typical balances",
                    "value": {
                      "orgChartCredits": 12,
                      "revealCredits": 100,
                      "apiCredits": 250,
                      "revealCreditsAsEmailEquivalent": 10,
                      "revealCreditsAsPhoneEquivalent": 5,
                      "emailRevealCost": 10,
                      "phoneRevealCost": 20
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/people-api/taxonomy/constants": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "List taxonomy constants",
        "description": "Public, ungated flat label lists (grade levels, grade categories, function roots). Prefer GET /people-api/taxonomy/tree for nested function selects.",
        "operationId": "listTaxonomyConstants",
        "security": [],
        "responses": {
          "200": {
            "description": "Flat taxonomy constants",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyConstantsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people-api/taxonomy/tree": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "List nested taxonomy tree",
        "description": "Public nested labels-only tree: function roots → functions, plus grade level dropdown values. No Boolean operators or keyword bags.",
        "operationId": "listTaxonomyTree",
        "security": [],
        "responses": {
          "200": {
            "description": "Nested taxonomy nouns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyTreeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people-api/taxonomy/function-roots": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "List std function roots",
        "description": "Auth-gated. Prefer GET /people-api/taxonomy/constants for the public noun list. Optional `title` classifies a job title (assignment engine — not for bulk ontology harvest).",
        "operationId": "listFunctionRoots",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "VP Engineering"
            },
            "description": "Optional job title to classify"
          }
        ],
        "responses": {
          "200": {
            "description": "Function roots or single classified item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people-api/taxonomy/functions": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "List std functions",
        "description": "Auth-gated advanced list. Prefer natural-language people/search for products and agents. Optional filters classify or narrow labels — not a public ontology dump.",
        "operationId": "listFunctions",
        "parameters": [
          {
            "name": "function_root",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "engineering"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Software Engineer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Functions or single classified item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people-api/taxonomy/grades": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "List std grades",
        "description": "Auth-gated. Prefer GET /people-api/taxonomy/constants for public grade-level nouns. Optional `title` classifies (not for bulk harvest).",
        "operationId": "listGrades",
        "parameters": [
          {
            "name": "grade_level",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "leadership"
            }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "VP Engineering"
            },
            "description": "Optional job title to classify into a std grade"
          }
        ],
        "responses": {
          "200": {
            "description": "Grade taxonomy items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/people-api/taxonomy/boolean-strings": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Build Boolean strings from taxonomy",
        "description": "Advanced auth-gated helper for external keyword tools. OpenAPI examples are illustrative placeholders only — not a dump of production Boolean engines. Prefer people/search with naturalLanguage for recruiting workflows.",
        "operationId": "getTaxonomyBooleanStrings",
        "parameters": [
          {
            "name": "std_function",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "engineering"
            }
          },
          {
            "name": "std_grade",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "leadership"
            }
          },
          {
            "name": "std_function_root",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "engineering"
            }
          },
          {
            "name": "company_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Stripe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Boolean query generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyBooleanStringsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Title taxonomy service unavailable"
          }
        }
      }
    },
    "/people-api/taxonomy/manual-boolean-queries": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Look up curated taxonomy boolean queries",
        "description": "Auth-gated. Returns hand-written LinkedIn strings from std_manual_boolean_queries.csv (std_function / std_function_root × grade). booleanQuery is for Sales Nav role.include (current job title); keywords is for the keywords field. Empty cells are omitted unless include_empty=true. Does not generate programmatic queries — use taxonomy/boolean-strings for that.",
        "operationId": "getManualBooleanQueries",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "std_function",
                "std_function_root"
              ]
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "sales"
            }
          },
          {
            "name": "std_function",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "sales"
            }
          },
          {
            "name": "std_function_root",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "sales"
            }
          },
          {
            "name": "std_grade",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "mid"
            }
          },
          {
            "name": "include_empty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include catalog rows that have no curated query yet"
          }
        ],
        "responses": {
          "200": {
            "description": "Curated boolean queries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxonomyManualBooleanQueriesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Title taxonomy service unavailable"
          }
        }
      }
    },
    "/people-api/titles/expand": {
      "get": {
        "tags": [
          "Taxonomy"
        ],
        "summary": "Expand and normalize a job title",
        "description": "Advanced debug: classify a title into std fields. Prefer POST /people-api/people/search with naturalLanguage when you also need people. Boolean fields in the response are illustrative capability — not for reconstructing the keyword engine.",
        "operationId": "expandJobTitles",
        "parameters": [
          {
            "name": "job_title",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Head of Product"
            }
          },
          {
            "name": "company_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "Stripe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expanded job title result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpandJobTitlesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Title taxonomy service unavailable"
          }
        }
      }
    },
    "/people-api/people/search-by-title": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Resolve job title and search people",
        "deprecated": true,
        "description": "Compatibility alias for POST /people-api/people/search with naturalLanguage set to jobTitle. Prefer the search endpoint for a role utterance.",
        "operationId": "searchPeopleByJobTitle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TitleFromJobSearchRequest"
              },
              "examples": {
                "byTitle": {
                  "summary": "Search from a job title (index)",
                  "value": {
                    "jobTitle": "Head of Engineering",
                    "companyName": "Stripe",
                    "dataSource": "index",
                    "limit": 10
                  }
                },
                "byTitleSalesNavPool": {
                  "summary": "CEO via Sales Navigator Unipile pool (taxonomy → SN facets)",
                  "value": {
                    "jobTitle": "CEO",
                    "website": "stayvista.com",
                    "dataSource": "pool",
                    "limit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved taxonomy and search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleSearchByTitleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Could not resolve title taxonomy"
          },
          "501": {
            "description": "Data source not implemented"
          },
          "503": {
            "description": "Data source or taxonomy not configured"
          }
        }
      }
    },
    "/people-api/people/search-by-taxonomy": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Search people by taxonomy at a company",
        "description": "Requires exactly one of stdFunction or stdFunctionRoot; optional stdGrade. Validated wrapper over people/search LinkedIn sourcing (dataSource pool / harvest / unipile): boolean keywords, search, batch title reclassify, exact taxonomy matches. Company scope: website, companyId, or companyName.",
        "operationId": "searchPeopleByTaxonomy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleSearchByTaxonomyRequest"
              },
              "examples": {
                "byRootAndGrade": {
                  "summary": "Engineering leadership at a domain",
                  "value": {
                    "website": "stripe.com",
                    "stdFunctionRoot": "engineering",
                    "stdGrade": "leadership",
                    "dataSource": "pool",
                    "limit": 20
                  }
                },
                "byRootSalesNavPool": {
                  "summary": "Leadership at StayVista via Sales Nav pool",
                  "value": {
                    "website": "stayvista.com",
                    "stdFunctionRoot": "corporate",
                    "stdGrade": "leadership",
                    "dataSource": "pool",
                    "limit": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filtered LinkedIn people matches",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleSearchByTaxonomyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "503": {
            "description": "Data source or taxonomy not configured"
          }
        }
      }
    },
    "/people-api/people/search": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Search people",
        "description": "Primary people search. Pass naturalLanguage for a role utterance, explicit taxonomy/company filters, or searchUrl for a pasted LinkedIn / Sales Navigator / Recruiter people search URL. searchUrl runs Harvest (Sales Nav only) or Unipile and returns transformed items.",
        "operationId": "searchPeople",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PeopleSearchRequest"
              },
              "example": {
                "naturalLanguage": "",
                "dataSource": "auto",
                "limit": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "501": {
            "description": "Data source not implemented"
          },
          "503": {
            "description": "Data source not configured"
          }
        }
      }
    }
  }
}
