SECRET_KEY_BASE=replace_with_lengthy_secure_hex
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=replace_me
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=replace_me
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=replace_me
FRONTEND_URL=http://localhost:3003
FORCE_SSL=false
ENABLE_ACCOUNT_SIGNUP=true
BRAND_NAME=Arxena
INSTALLATION_NAME=Arxena
WIDGET_BRAND_URL=http://localhost:3002
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=replace_me
POSTGRES_HOST=postgres
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=replace_me
POSTGRES_DATABASE=chatwoot_production
RAILS_ENV=production
NODE_ENV=production
RAILS_MAX_THREADS=5
MAILER_SENDER_EMAIL=Chatwoot <chatwoot@localhost>
SMTP_ADDRESS=
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
ACTIVE_STORAGE_SERVICE=local
RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info
